---
# Preparing the set of proteins
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
back_path="../"
matches_file_name = "CANLF2HUMAN_matches_annotated.tsv"
sen_CIBN_file = "os_sensitive_CIBN.tsv"
sen_OS_file = "os_sensitive_OS.tsv"

In [3]:
matches = pd.read_csv(back_path+"00_InputData/"+matches_file_name,sep='\t')
sensitive_CIBN = pd.read_csv(back_path+"00_InputData/"+sen_CIBN_file,sep='\t')
sensitive_OS = pd.read_csv(back_path+"00_InputData/"+sen_OS_file,sep='\t')

In [4]:
d = {}
invd = {}
for i in range(len(matches)):
    canlf_prot = matches['CANLF_UniProtKB'][i]
    human_prot = matches['HUMAN_UniProtKB_ACC'][i]
    if canlf_prot not in d.keys():
        d[canlf_prot] = [human_prot]
    else:
        d[canlf_prot].append[human_prot]
    if human_prot not in invd.keys():
        invd[human_prot] = [canlf_prot]
    else:
        invd[human_prot].append(canlf_prot)
matches.head()

,CANLF_UniProtKB,HUMAN_UniprotKB,HUMAN_UniProtKB_ACC,HUMAN_Fasta_Header
0,F1PYE3,P04792,HSPB1_HUMAN,sp|P04792|HSPB1_HUMAN Heat shock protein beta-...
1,A0A097HUC9,P04792,HSPB1_HUMAN,sp|P04792|HSPB1_HUMAN Heat shock protein beta-...
2,P42929,P04792,HSPB1_HUMAN,sp|P04792|HSPB1_HUMAN Heat shock protein beta-...
3,P54714,P60174,TPIS_HUMAN,sp|P60174|TPIS_HUMAN Triosephosphate isomerase...
4,D0VWQ5,P84098,RL19_HUMAN,sp|P84098|RL19_HUMAN 60S ribosomal protein L19...

In [5]:
sensitive_CIBN.head()

,Entry,Gene_Name,Intensity 3old-0-R1,Intensity 3old-0-R2,Intensity 3old-0-R3,Intensity 3old-5-R1,Intensity 3old-5-R2,Intensity 3old-5-R3,Intensity 3old-20-R1,Intensity 3old-20-R2,...,Intensity 4old-0-R3,Intensity 4old-5-R1,Intensity 4old-5-R2,Intensity 4old-5-R3,Intensity 4old-20-R1,Intensity 4old-20-R2,Intensity 4old-20-R3,B5 - B0,B20 - B0,B20 - B5
0,optoSrc,NaN,24.845187,25.063744,24.719514,26.874403,26.858979,27.055007,27.731313,27.831856,...,24.505757,26.373647,26.226303,26.192030,26.917674,26.949752,27.156484,1,1,1
1,E2QXI3,AIMP1,22.490673,22.641305,22.263827,22.986857,23.186464,23.344409,23.387277,23.008314,...,22.444628,22.642645,22.654104,22.869157,23.238302,23.366169,23.479129,1,1,0
2,E2R9A2,COPB1,20.583876,19.580197,19.912300,19.515347,20.446335,19.998641,18.774315,18.578999,...,19.359797,19.708729,19.932811,20.536436,19.576637,19.351312,19.543541,0,-1,-1
3,E2QUR2,EPRS,25.702282,26.085744,25.738771,26.148723,25.995953,26.155798,26.700727,26.788817,...,25.254011,25.912125,25.915650,25.949909,26.433437,26.427155,26.441976,0,1,1
4,E2RH59,GNPDA2,20.555486,19.808402,20.541722,19.751269,20.244514,20.072681,19.071381,19.009996,...,21.094140,20.228424,19.659203,19.460986,20.336835,20.918740,19.552109,0,-1,0

In [6]:
CIBNt0 = np.mean(sensitive_CIBN[sensitive_CIBN.columns[2:5]][1:],axis=1)
CIBNt5 = np.mean(sensitive_CIBN[sensitive_CIBN.columns[5:8]][1:],axis=1)
CIBNt20 = np.mean(sensitive_CIBN[sensitive_CIBN.columns[8:11]][1:],axis=1)
vals = [CIBNt5 - CIBNt0, CIBNt20 - CIBNt0, CIBNt20 - CIBNt5]
dfsensitiveCIBNval = sensitive_CIBN[["Entry"]][1:]
dfsensitiveCIBNval.loc[:,("ACC")] = dfsensitiveCIBNval.loc[:,("Entry")].map({el:";".join(val) for el,val in d.items() if np.nan not in val})
for col_name,val in zip(sensitive_CIBN.columns[-3:],vals):
    dfsensitiveCIBNval.loc[:,(col_name)] = sensitive_CIBN[col_name]*np.abs(val)

In [7]:
dfsensitiveCIBNval.head()

    Entry          ACC   B5 - B0  B20 - B0  B20 - B5
1  E2QXI3  AIMP1_HUMAN  0.707308  0.766384  0.000000
2  E2R9A2   COPB_HUMAN  0.000000 -1.316144 -1.277461
3  E2QUR2   SYEP_HUMAN  0.000000  0.868875  0.610983
4  E2RH59  GNPI2_HUMAN  0.000000 -1.525599  0.000000
5  E2RSP4    SYK_HUMAN  0.000000  0.987616  0.000000

In [8]:
sensitive_OS.head()

,Entry,Gene_Name,Intensity 3old-0-R1,Intensity 3old-0-R2,Intensity 3old-0-R3,Intensity 3old-5-R1,Intensity 3old-5-R2,Intensity 3old-5-R3,Intensity 3old-20-R1,Intensity 3old-20-R2,...,Intensity 4old-0-R3,Intensity 4old-5-R1,Intensity 4old-5-R2,Intensity 4old-5-R3,Intensity 4old-20-R1,Intensity 4old-20-R2,Intensity 4old-20-R3,A5 - A0,A20 - A0,A20 - A5
0,optoSrc,NaN,24.845187,25.063744,24.719514,26.874403,26.858979,27.055007,27.731313,27.831856,...,24.505757,26.373647,26.226303,26.192030,26.917674,26.949752,27.156484,1,1,1
1,E2RFE1,NaN,23.159601,22.823696,22.706777,22.871346,22.776962,23.036993,23.131036,23.317296,...,23.805019,23.303657,23.191523,23.392577,23.206277,23.092375,22.943882,0,-1,0
2,J9P969,AHNAK,24.716251,24.782220,24.769965,25.055978,25.501265,25.603115,24.898200,24.737145,...,24.597106,25.481823,25.383310,25.414064,24.039937,24.656397,24.726940,0,0,-1
3,E2QXI3,AIMP1,22.490673,22.641305,22.263827,22.986857,23.186464,23.344409,23.387277,23.008314,...,22.444628,22.642645,22.654104,22.869157,23.238302,23.366169,23.479129,0,1,1
4,E2QVF9,AIMP2,21.962793,21.985355,21.710670,22.080910,22.135462,22.567953,22.683457,22.703199,...,21.644176,22.482424,22.315144,21.867828,22.545465,22.554504,22.949274,0,1,0

In [9]:
OSt0 = np.mean(sensitive_OS[sensitive_OS.columns[11:14]][1:],axis=1)
OSt5 = np.mean(sensitive_OS[sensitive_OS.columns[14:17]][1:],axis=1)
OSt20 = np.mean(sensitive_OS[sensitive_OS.columns[17:20]][1:],axis=1)
vals = [OSt5-OSt0, OSt20-OSt0,OSt20-OSt5]
dfsensitiveOSval = sensitive_OS[["Entry"]][1:]
dfsensitiveOSval.loc[:,("ACC")] = dfsensitiveOSval.loc[:,("Entry")].map({el:";".join(val) for el,val in d.items() if np.nan not in val})
for col_name,val in zip(sensitive_OS.columns[-3:],vals):
    dfsensitiveOSval.loc[:,(col_name)] = sensitive_OS[col_name]*np.abs(val)

In [10]:
dfsensitiveOSval.head()

    Entry          ACC  A5 - A0  A20 - A0  A20 - A5
1  E2RFE1   ITB4_HUMAN      0.0 -0.651147  0.000000
2  J9P969          NaN      0.0  0.000000 -0.951974
3  E2QXI3  AIMP1_HUMAN      0.0  1.016291  0.639232
4  E2QVF9  AIMP2_HUMAN      0.0  0.886867  0.000000
5  O46674  AT2A2_HUMAN      0.0 -0.839980  0.000000

In [15]:
dfsensitiveCIBNval.to_csv(back_path+"05_Output/"+"CIBN/os_sensitive_CIBN_withval.tsv",sep='\t',index=False)
dfsensitiveOSval.to_csv(back_path+"05_Output/"+"OS/os_sensitive_OS_withval.tsv",sep='\t',index=False)