# Using pantherdb to get the orthologs from ref proteom

In [1]:
import pandas as pd
import Bio
import numpy as np
import pickle
import matplotlib.pyplot as plt

In [24]:
experiment_name = "MOUSE2HUMAN"
back_path = "../../"
orth_file = "MOUSE_HUMAN_ref.tab"
exp_protein_file = "MOUSE_invadosomes.txt"
FROM="MOUSE"
TO="HUMAN"

In [12]:
with open(back_path+'05_Output/'+experiment_name+"/"+experiment_name+'_matches2refproteom.pickle', 'rb') as f:
    uniprot2seq = pickle.load(f)

# Retrieving the orthologs

In [13]:
orthologs_table = pd.read_csv(back_path+'01_Reference/'+experiment_name+"/"+orth_file,sep='\t',header=None)

orthologs_table.head()

,0,1,2,3,4
0,HUMAN|HGNC=11477|UniProtKB=Q15528,MOUSE|MGI=MGI=98446|UniProtKB=Q62276,LDO,Euarchontoglires,PTHR12434
1,HUMAN|HGNC=28143|UniProtKB=Q53S58,MOUSE|MGI=MGI=1913593|UniProtKB=Q8BPE4,LDO,Euarchontoglires,PTHR21824
2,HUMAN|HGNC=3042|UniProtKB=Q9UKA8,MOUSE|MGI=MGI=1858220|UniProtKB=Q9JKK0,LDO,Euarchontoglires,PTHR10300
3,HUMAN|HGNC=3040|UniProtKB=P53805,MOUSE|MGI=MGI=1890564|UniProtKB=Q9JHG6,LDO,Euarchontoglires,PTHR10300
4,HUMAN|HGNC=3041|UniProtKB=Q14206,MOUSE|MGI=MGI=1858219|UniProtKB=Q9JHG2,LDO,Euarchontoglires,PTHR10300

In [14]:
d = {}
for i in orthologs_table.index:
    if TO in orthologs_table[0][i]:
        for el in orthologs_table[0][i].split("|"):
            if "UniProtKB" in el:
                to = el.split("UniProtKB=")[1]
        for el in orthologs_table[1][i].split("|"):
            if "UniProtKB" in el:
                var_from = el.split("UniProtKB=")[1]
    else:
        for el in orthologs_table[1][i].split("|"):
            if "UniProtKB" in el:
                to = el.split("UniProtKB=")[1]
        for el in orthologs_table[0][i].split("|"):
            if "UniProtKB" in el:
                var_from = el.split("UniProtKB=")[1]
    store = (to,orthologs_table[2][i])
    if var_from in d:
        d[var_from].append(store)
    else:
        d[var_from] = [store]

In [15]:
len(d)

19050

In [16]:
d['Q62276']

[('Q15528', 'LDO')]

# Matching from old uniprot id to orthologs

In [17]:
orthologs_found = {}
orthologs_not_found = {}

for key, values in uniprot2seq.items():
    found = False
    for value in values:
        from_ref_id = value.name.split("|")[1]
        if from_ref_id not in d:
            continue
        else:
            to_ref_id = ""
            b=True
            for el in d[from_ref_id]:
                if el[1] == 'LDO':
                    to_ref_id = el[0]
                    b=False
                    break
                else:
                    to_ref_id = el[0]
            if b :
                print(key,from_ref_id,to_ref_id)
            orthologs_found[key] = to_ref_id
            found = True
            break
            
    if not found :
        orthologs_not_found[key] = value

Q91VM5 Q91VM5 P38159
O55137 O55137 Q86TX2
P60766 P60766 P60953

In [18]:
len(orthologs_found)

306

In [19]:
len(orthologs_not_found)

6

In [10]:
uniprot2seq["J9NXT1"]

[SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|J9NXT1|J9NXT1_CANLF', name='tr|J9NXT1|J9NXT1_CANLF', description='tr|J9NXT1|J9NXT1_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA3D PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|J9NXT1|J9NXT1_CANLF', name='tr|J9NXT1|J9NXT1_CANLF', description='tr|J9NXT1|J9NXT1_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA3D PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISVHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|F1PE21|F1PE21_CANLF', name='tr|F1PE21|F1PE21_CANLF', description='tr|F1PE21|F1PE21_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC477570 PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|F1PM53|F1PM53_CANLF', name='tr|F1PM53|F1PM53_CANLF', description='tr|F1PM53|F1PM53_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA1B PE=2 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|A0A5F4BT09|A0A5F4BT09_CANLF', name='tr|A0A5F4BT09|A0A5F4BT09_CANLF', description='tr|A0A5F4BT09|A0A5F4BT09_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA1B PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MNFRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTF...EEY'), id='tr|L7N0B2|L7N0B2_CANLF', name='tr|L7N0B2|L7N0B2_CANLF', description='tr|L7N0B2|L7N0B2_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA1B PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...EEY'), id='tr|E2RNQ2|E2RNQ2_CANLF', name='tr|E2RNQ2|E2RNQ2_CANLF', description='tr|E2RNQ2|E2RNQ2_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('MSHLICVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFSETGAGKH...EEY'), id='tr|E2QTQ9|E2QTQ9_CANLF', name='tr|E2QTQ9|E2QTQ9_CANLF', description='tr|E2QTQ9|E2QTQ9_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISVHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...DEY'), id='tr|L7N0G4|L7N0G4_CANLF', name='tr|L7N0G4|L7N0G4_CANLF', description='tr|L7N0G4|L7N0G4_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC610636 PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MPSDKTIGGGDDSFNTFFSETGAGKHVPRAVFVDLEPTVIDEVRTGTYRQLFHP...EEY'), id='tr|A0A5F4CS96|A0A5F4CS96_CANLF', name='tr|A0A5F4CS96|A0A5F4CS96_CANLF', description='tr|A0A5F4CS96|A0A5F4CS96_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA1B PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISVHVGQAGVQIGNACWELFCLEHGIQADGTFGVQGSKVNDDDSFTTFFS...EEF'), id='tr|F6X9E9|F6X9E9_CANLF', name='tr|F6X9E9|F6X9E9_CANLF', description='tr|F6X9E9|F6X9E9_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=PEX26 PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MKTAGTTVWPRARAGLEREPRLLGFRPCNSLLGLRPWRGKIKGCIRGLSWPHLA...KEF'), id='tr|F1PLM3|F1PLM3_CANLF', name='tr|F1PLM3|F1PLM3_CANLF', description='tr|F1PLM3|F1PLM3_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC100855995 PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISVHVGQAGVQMGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFTTFFC...MQA'), id='tr|E2RBC3|E2RBC3_CANLF', name='tr|E2RBC3|E2RBC3_CANLF', description='tr|E2RBC3|E2RBC3_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBA4A PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MPSDKTIGGGDDSFNTFFSETGAGKHVPRAVFVDLEPTVIGELASVTQVSSRGT...EEY'), id='tr|A0A5F4D8G0|A0A5F4D8G0_CANLF', name='tr|A0A5F4D8G0|A0A5F4D8G0_CANLF', description='tr|A0A5F4D8G0|A0A5F4D8G0_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MKSDSASPAAALGLWGPVRSSEPARAAPTPTPAPAPAPAPAPAPAPAPAPAPAQ...EEF'), id='tr|A0A5F4CSW9|A0A5F4CSW9_CANLF', name='tr|A0A5F4CSW9|A0A5F4CSW9_CANLF', description='tr|A0A5F4CSW9|A0A5F4CSW9_CANLF Peroxisomal biosis factor 26 OS=Canis lupus familiaris OX=9615 GN=PEX26 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MLRDSCWPGLSVPGPLPPSVSQQRRRRYLEQLGWAGPAGRRAREESSRDDEVRA...EEF'), id='tr|A0A5F4DH52|A0A5F4DH52_CANLF', name='tr|A0A5F4DH52|A0A5F4DH52_CANLF', description='tr|A0A5F4DH52|A0A5F4DH52_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=PEX26 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECLSIHIGQAGIQIGDACWELYCLEHGIQPDGVVLNSKKDQLENANMEHIDA...RSF'), id='tr|F1P7S1|F1P7S1_CANLF', name='tr|F1P7S1|F1P7S1_CANLF', description='tr|F1P7S1|F1P7S1_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=TUBAL3 PE=3 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('MLDQQTDRTDNPSQPQVKQHGTYRQLFHPEQLITGKEDAANNYARGHYTIGKEL...TRW'), id='tr|J9P0P6|J9P0P6_CANLF', name='tr|J9P0P6|J9P0P6_CANLF', description='tr|J9P0P6|J9P0P6_CANLF Tubulin alpha chain OS=Canis lupus familiaris OX=9615 GN=LOC610636 PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHIQAGQCGNQIGAKFWEVISDEHGIDPTGTYHGDSDLQLDRISVYYNEA...EEA'), id='tr|E2QSF4|E2QSF4_CANLF', name='tr|E2QSF4|E2QSF4_CANLF', description='tr|E2QSF4|E2QSF4_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHIQAGQCGNQIGTKFWEVISDEHGIDPAGGYVGDSALQLERINVYYNES...INE'), id='tr|E2QYC2|E2QYC2_CANLF', name='tr|E2QYC2|E2QYC2_CANLF', description='tr|E2QYC2|E2QYC2_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB6 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHIQAGQCGNQIGAKFWEVISDEHGIDPSGNYVGDSDLQLERISVYYNEA...GPK'), id='tr|F2Z4P1|F2Z4P1_CANLF', name='tr|F2Z4P1|F2Z4P1_CANLF', description='tr|F2Z4P1|F2Z4P1_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TCF25 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHLQAGQCGNQIGAKFWEVISDEHGIDPTGTYHGDSDLQLERINVYYNEA...EVA'), id='tr|L7N0I7|L7N0I7_CANLF', name='tr|L7N0I7|L7N0I7_CANLF', description='tr|L7N0I7|L7N0I7_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB4B PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHLQAGQCGNQIGAKFWEVISDEHGIDPTGTYHGDSDLQLERINVYYNEA...EVA'), id='tr|E2RFV2|E2RFV2_CANLF', name='tr|E2RFV2|E2RFV2_CANLF', description='tr|E2RFV2|E2RFV2_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB4A PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHIQAGQCGNQIGAKFWEVISDEHGIDPTGSYHGDSDLQLERINVYYNEA...GGL'), id='tr|E2RFJ7|E2RFJ7_CANLF', name='tr|E2RFJ7|E2RFJ7_CANLF', description='tr|E2RFJ7|E2RFJ7_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB2B PE=3 SV=2', dbxrefs=[]),
 SeqRecord(seq=Seq('MWLLGLHGLYSGFLAVLLVSLTAASRRGRDLTEGHPELSVRTWHMAREVTRQCR...PQV'), id='tr|J9P716|J9P716_CANLF', name='tr|J9P716|J9P716_CANLF', description='tr|J9P716|J9P716_CANLF Tubulin beta 1 class VI OS=Canis lupus familiaris OX=9615 GN=TUBB1 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MWLLGLHGLYSGFLAVLLVSLTAASRRGRDLTEGHPELSVRTWHMAREVTRQCR...EAA'), id='tr|A0A5F4D3V5|A0A5F4D3V5_CANLF', name='tr|A0A5F4D3V5|A0A5F4D3V5_CANLF', description='tr|A0A5F4D3V5|A0A5F4D3V5_CANLF Tubulin beta 1 class VI OS=Canis lupus familiaris OX=9615 GN=TUBB1 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MREIVHLQAGQCGNQIGAKFWEVISDEHGIDPTGTYHGDSDLQLERINVYYNEA...EVA'), id='tr|A0A5F4BWF5|A0A5F4BWF5_CANLF', name='tr|A0A5F4BWF5|A0A5F4BWF5_CANLF', description='tr|A0A5F4BWF5|A0A5F4BWF5_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=TUBB4B PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('DLRFWEVISDEHGIDPTGSYHGDSDLQLERINVYYNEAAGNKYVPRAILVDLEP...DEA'), id='tr|F1PQ68|F1PQ68_CANLF', name='tr|F1PQ68|F1PQ68_CANLF', description='tr|F1PQ68|F1PQ68_CANLF Tubulin beta chain OS=Canis lupus familiaris OX=9615 GN=LOC478701 PE=3 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('MRLLESKKGLSSFAFEHSEEYQQTQHKFLAAVESMEPNNIVVLLQTSPYHVDSL...GPK'), id='tr|A0A5F4CUX0|A0A5F4CUX0_CANLF', name='tr|A0A5F4CUX0|A0A5F4CUX0_CANLF', description='tr|A0A5F4CUX0|A0A5F4CUX0_CANLF Transcription factor 25 OS=Canis lupus familiaris OX=9615 GN=TCF25 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRLLESKKGLSSFAFEHSEEYQQTQHKFLAAVESMEPNNIVVLLQTSPYHVDSL...TAP'), id='tr|E2R9Y6|E2R9Y6_CANLF', name='tr|E2R9Y6|E2R9Y6_CANLF', description='tr|E2R9Y6|E2R9Y6_CANLF Transcription factor 25 OS=Canis lupus familiaris OX=9615 GN=TCF25 PE=3 SV=3', dbxrefs=[]),
 SeqRecord(seq=Seq('LNPTTRDSESPDGEGPLFPGERRQSKDLRTPKLRGGRVSESRETLHFSALKPVS...INE'), id='tr|A0A5F4BPS3|A0A5F4BPS3_CANLF', name='tr|A0A5F4BPS3|A0A5F4BPS3_CANLF', description='tr|A0A5F4BPS3|A0A5F4BPS3_CANLF Tubulin beta 6 class V OS=Canis lupus familiaris OX=9615 GN=TUBB6 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...YNY'), id='tr|A0A5F4BV49|A0A5F4BV49_CANLF', name='tr|A0A5F4BV49|A0A5F4BV49_CANLF', description='tr|A0A5F4BV49|A0A5F4BV49_CANLF Tubulin_C domain-containing protein OS=Canis lupus familiaris OX=9615 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('IREIVHIQAGQCGDQTGAKFWEVISDEHGIDPTRTYHGDNDLQLDHISMYYNEA...EEA'), id='tr|A0A5F4C551|A0A5F4C551_CANLF', name='tr|A0A5F4C551|A0A5F4C551_CANLF', description='tr|A0A5F4C551|A0A5F4C551_CANLF Uncharacterized protein OS=Canis lupus familiaris OX=9615 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('IRQAATTRECISIHVGQAGVQIGNACWELYCREHGIQPDAQMPSDKTTGGGDDS...FEH'), id='tr|A0A5F4D7P9|A0A5F4D7P9_CANLF', name='tr|A0A5F4D7P9|A0A5F4D7P9_CANLF', description='tr|A0A5F4D7P9|A0A5F4D7P9_CANLF Uncharacterized protein OS=Canis lupus familiaris OX=9615 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...GNL'), id='tr|A0A5F4BVG6|A0A5F4BVG6_CANLF', name='tr|A0A5F4BVG6|A0A5F4BVG6_CANLF', description='tr|A0A5F4BVG6|A0A5F4BVG6_CANLF Uncharacterized protein OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGGGDDSFNTFFS...NGT'), id='tr|A0A5F4C1X2|A0A5F4C1X2_CANLF', name='tr|A0A5F4C1X2|A0A5F4C1X2_CANLF', description='tr|A0A5F4C1X2|A0A5F4C1X2_CANLF Tubulin domain-containing protein OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MQCKTPAKAPSRECISIHVGQAGVQIGNACWELYCLEHGIQPDGQMPSDKTIGG...DSC'), id='tr|A0A5F4BV42|A0A5F4BV42_CANLF', name='tr|A0A5F4BV42|A0A5F4BV42_CANLF', description='tr|A0A5F4BV42|A0A5F4BV42_CANLF Uncharacterized protein OS=Canis lupus familiaris OX=9615 GN=LOC100856405 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MPREIITLQLGQCGNQIGFEFWKQLCAEHGISPEGIVEEFATEGTDRKDVFFYQ...QEQ'), id='tr|F1PCT3|F1PCT3_CANLF', name='tr|F1PCT3|F1PCT3_CANLF', description='tr|F1PCT3|F1PCT3_CANLF Tubulin gamma chain OS=Canis lupus familiaris OX=9615 GN=LOC100856176 PE=3 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MPREIITLQLGQCGNQIGFEFWKQLCAEHGISPEGIVEEFATEGTDRKDVFFYQ...QEQ'), id='sp|Q9GKK5|TBG1_CANLF', name='sp|Q9GKK5|TBG1_CANLF', description='sp|Q9GKK5|TBG1_CANLF Tubulin gamma-1 chain OS=Canis lupus familiaris OX=9615 GN=TUBG1 PE=2 SV=1', dbxrefs=[]),
 SeqRecord(seq=Seq('MPREIITLQLGQCGNQIGFEFWKQLCAEHGISPEGIVEEFATEGTDRKDVFFYQ...QEQ'), id='tr|E2RD85|E2RD85_CANLF', name='tr|E2RD85|E2RD85_CANLF', description='tr|E2RD85|E2RD85_CANLF Tubulin gamma chain OS=Canis lupus familiaris OX=9615 GN=LOC100856176 PE=3 SV=1', dbxrefs=[])]

In [11]:
orthologs_found["J9NXT1"]

'P0DPH8'

# lets check how many lines we get from the filtered set of proteins

In [26]:
filtered_prots = pd.read_csv(back_path+"00_InputData/"+experiment_name+"/"+exp_protein_file, sep="\t",header=None)
filtered_prots

              0
0        P61514
1        Q4FK74
2        Q01149
3        O88544
4        P97310
..          ...
307  A0A140T8M7
308      G3UX26
309      Q922B2
310      Q8VDD5
311      P35979

[312 rows x 1 columns]

In [28]:
list_of_found_indices = []
list_of_not_found_indices = []
for i in filtered_prots.index:
    s = filtered_prots[0][i]
    l = s.split(";")
    for el in l:
        if el in orthologs_found:
            list_of_found_indices.append(i)
            break
    if list_of_found_indices[-1] != i:
        list_of_not_found_indices.append(i)

In [29]:
len(list_of_found_indices)

306

In [30]:
len(list_of_not_found_indices)

6

In [31]:
len(list_of_not_found_indices)+len(list_of_found_indices)

312

In [32]:
print(list_of_not_found_indices)

[7, 81, 91, 94, 102, 199]

In [33]:
found_orthologs_table = pd.DataFrame([[key,val] for key, val in orthologs_found.items()],columns= [FROM+"_UniProtKB",TO+"_UniprotKB"])
found_orthologs_table

    MOUSE_UniProtKB HUMAN_UniprotKB
0            P61514          P61513
1            Q4FK74          P30049
2            Q01149          P08123
3            O88544          Q9BT78
4            P97310          P49736
..              ...             ...
301          F7CVJ5          Q09666
302          E9PYL9          P62913
303          D3YW87          Q14315
304          D3YVN7          P49411
305      A0A140T8M7          P62750

[306 rows x 2 columns]

In [34]:
not_found_orthologs_table = pd.DataFrame([[key,np.nan] for key, val in orthologs_not_found.items()],columns= [FROM+"_UniProtKB",TO+"_UniprotKB"])
not_found_orthologs_table

  MOUSE_UniProtKB  HUMAN_UniprotKB
0      A0A140LJ59              NaN
1          D3Z1Z8              NaN
2      A0A0G2JDW7              NaN
3      A0A0A6YW67              NaN
4          Q9D1E6              NaN
5      A0A140T8K6              NaN

In [35]:
matches = pd.concat([found_orthologs_table,not_found_orthologs_table])
matches

   MOUSE_UniProtKB HUMAN_UniprotKB
0           P61514          P61513
1           Q4FK74          P30049
2           Q01149          P08123
3           O88544          Q9BT78
4           P97310          P49736
..             ...             ...
1           D3Z1Z8             NaN
2       A0A0G2JDW7             NaN
3       A0A0A6YW67             NaN
4           Q9D1E6             NaN
5       A0A140T8K6             NaN

[312 rows x 2 columns]

In [36]:
matches.to_csv(back_path+"05_Output/"+experiment_name+"/"+experiment_name+"_matches_uniprotKB.tsv",sep="\t",index=None)